:root {
  --color-green-dark--2: hsl(132.4528301887, 31.1764705882%, 16.5%);
  --color-green-dark--1: hsl(132.4528301887, 31.1764705882%, 22.5%);
  --color-green-dark-0: #32673d;
  --color-green-dark-1: rgb(102.17, 131.33, 106.9037662338);
  --color-green-dark-2: rgb(152.84, 161.16, 153.36);
  --color-green--2: hsl(98.9010989011, 37.7419354839%, 23.4019607843%);
  --color-green--1: hsl(98.9010989011, 37.7419354839%, 31.9117647059%);
  --color-green-0: #5f9a3f;
  --color-green-1: rgb(132.3857971014, 169.64, 109.86);
  --color-green-2: rgb(168.5008510638, 187.78, 154.22);
  --color-green-light--2: hsl(95.5263157895, 38.8636363636%, 36.0196078431%);
  --color-green-light--1: hsl(95.5263157895, 38.8636363636%, 49.1176470588%);
  --color-green-light-0: #a0cd81;
  --color-green-light-1: rgb(180.3584199134, 209.645, 157.605);
  --color-green-light-2: rgb(200.055443038, 215.62, 184.88);
  --color-orchid--2: hsl(295.5, 25.3521126761%, 15.3137254902%);
  --color-orchid--1: hsl(295.5, 25.3521126761%, 20.8823529412%);
  --color-orchid-0: #58335b;
  --color-orchid-1: rgb(121.6113247863, 101.465, 121.785);
  --color-orchid-2: rgb(155.88, 151.12, 155.3133333333);
  --color-blue-dark--2: hsl(217.3109243697, 61.2%, 18.8725490196%);
  --color-blue-dark--1: hsl(217.3109243697, 61.2%, 25.7352941176%);
  --color-blue-dark-0: #1c4993;
  --color-blue-dark-1: rgb(85.985, 114.7712464183, 163.265);
  --color-blue-dark-2: rgb(141.46, 156.0834234234, 182.04);
  --color-blue--2: hsl(193.5, 45%, 29.1176470588%);
  --color-blue--1: hsl(193.5, 45%, 39.7058823529%);
  --color-blue-0: #4ba8c3;
  --color-blue-1: rgb(120.04, 182.6396590909, 200.46);
  --color-blue-2: rgb(163.06, 198.3228571429, 207.94);
  --color-orange--2: hsl(23.2142857143, 73.3980582524%, 32.7843137255%);
  --color-orange--1: hsl(23.2142857143, 73.3980582524%, 44.7058823529%);
  --color-orange-0: #ec8544;
  --color-orange-1: rgb(233.72, 159.243125, 112.28);
  --color-orange-2: rgb(233.12, 185.1090909091, 154.88);
  --color-wheat--2: hsl(40.4347826087, 72.6315789474%, 42.7058823529%);
  --color-wheat--1: hsl(40.4347826087, 72.6315789474%, 58.2352941176%);
  --color-wheat-0: #f4d698;
  --color-wheat-1: rgb(241.1, 218.6211267606, 173.9);
  --color-wheat-2: rgb(238.96, 223.588, 195.04);
  --color-sunbeam--2: hsl(41.8705035971, 68.3606557377%, 35.2647058824%);
  --color-sunbeam--1: hsl(41.8705035971, 68.3606557377%, 48.0882352941%);
  --color-sunbeam-0: #e9bf5e;
  --color-sunbeam-1: rgb(231.815, 200.8743411765, 131.435);
  --color-sunbeam-2: rgb(232.08, 211.4063945578, 167.42);
  --color-sand--2: hsl(25.4545454545, 13.6866359447%, 31.5980392157%);
  --color-sand--1: hsl(25.4545454545, 13.6866359447%, 43.0882352941%);
  --color-sand-0: #a39082;
  --color-sand-1: rgb(178.805, 167.2973364486, 158.945);
  --color-sand-2: rgb(196.4, 190.3707317073, 186.1);
  --color-brown--2: hsl(20, 9.6428571429%, 6.0392156863%);
  --color-brown--1: hsl(20, 9.6428571429%, 8.2352941176%);
  --color-brown-0: #1f1b19;
  --color-brown-1: rgb(80.05, 79.9846153846, 79.95);
  --color-brown-2: #848484;
  --color-black--2: hsl(0, 0%, 0%);
  --color-black--1: hsl(0, 0%, 0%);
  --color-black-0: #000000;
  --color-black-1: #3b3b3b;
  --color-black-2: #767676;
}
