.u-margin-block {
  margin-block: var(--spacing-large);
}

.u-margin-block-start {
  margin-block-start: var(--spacing-medium);
}

.u-margin-inline {
  margin-inline: var(--spacing-large);
}

.u-block-padding {
  padding-block: var(--spacing-large);
}

.u-inline-padding {
  padding-inline: var(--spacing-large);
  
}

.u-padding--small {
  padding: var(--spacing-small);
}

.u-block-margin-0 {
  margin-block: 0
}


