body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-optical-sizing: var(--font-optical-sizing);
  font-variant-numeric: var(--font-numeric-default);
}