body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  gap: 2rem;
  margin-inline: 0;
}

@media (min-width: 80em) {
  body {
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    grid-template-areas:
      "header header"
      "nav nav"
      "main aside"
      "main aside"
      "footer footer";
    align-items: start;
  }


}

header {
  grid-area: header;
  margin-inline-start: var(--spacing-medium);
}

main {
  grid-area: main;
  margin-inline-start: var(--spacing-medium);

}

nav[role="navigation"] {
  grid-area: nav;
}

aside {
  grid-area: aside;
  margin-inline-start: var(--spacing-medium);
}